/*MAIN*/
$base-color: rgb(34, 34, 34);
$accent-color: rgb(255, 149, 174);

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
}

img {
  width: 20%;
  height: 20%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 8rem;
  color: $accent-color;
  border-bottom: 3px solid $accent-color;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: 5rem;
  text-transform: uppercase;
  background: $accent-color;
  padding: 5px 10px;
}

h3 {
  color: $accent-color;
  border-bottom: 2px solid $base-color;
  text-transform: uppercase;
}

nav {
  height: 10vh;
}

.flex-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

ul li {
  text-transform: uppercase;
  list-style: none;

  a {
    color: $base-color;
    background: $accent-color;
    padding: 20px;
    border-radius: 25px;
    text-decoration: none;

    &:hover {
      color: $accent-color;
      background: $base-color;
      transition: ease-in 0.2s;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;

  .profilePic {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    // display: block;
    // margin: 0 auto;
  }
}

p {
  padding: 5px;
}

.galleryFlex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;

  img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border: 5px solid $accent-color;
  }
}

footer {
  margin-top: 20px;
  background: $accent-color;
  padding: 10px;
  text-align: center;
}
