@media (max-width: 1250px) {
  h1 {
    font-size: 6rem;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .galleryFlex {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    // align-items: center;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3rem;
  }

  ul li a {
    padding: 10px;
  }
}

@media (max-width: 800px) {
  h2 {
    text-align: center;
  }
  .grid {
    display: block;
  }

  .catInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      text-align: center;
    }

    h2 {
      width: 100%;
    }

    img {
      display: block;
      margin: 0 auto;
    }
  }
}

@media (max-width: 755px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  .galleryFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  nav {
    height: 25vh;
  }

  .flex-nav ul {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    li {
      margin-bottom: 2em;
    }
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }
}
